@font-face {
    font-family: 'Futura';
    src: url('futura_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Futura', sans-serif;
    background-color: #F1DBBF;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #698269;
    color: #fff;
    padding: 16px;
}
.header_selected a{
    color: #698269;
    background-color: #fff;
    padding: 16px;
    /* margin: 16px; */
    /* padding-top: 16px;
    padding-bottom: 16px; */
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 16px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 32px;
}

main h1 {
    font-size: 32px;
    color: #698269;
    text-align: center;
    margin-top: 0;
}

main h2 {
    font-size: 20px;
    color: #333;
    text-align: center;
}

section {
    border-top: 1px solid #B99B6B;
    /* border-bottom: 1px solid #B99B6B; */
    padding: 32px 32px 32px 32px;
}

section h2 {
    font-size: 28px;
    margin-top: 0;
    color: #AA5656;
    text-align: center;
}

section ul {
    margin-top: 16px;
    margin-bottom: 32px;
}

.imgcard {
    width: 33%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 10px;
    font-size: 12px;
}

.imgcard h4 {
    font-size: 14px;
}

img {
    width: 100%;
}

.imgcontainer {
    text-align: center;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
}

section li {
    /* font-size: 18px; */
    line-height: 1.5;
    color: #333;
}

#hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 128px 128px;
    border: none;
    margin-top: 32px;
}

#hero h2 {
    font-size: 30px;
    margin-bottom: 16px;
    color: #698269;
    /* padding */
}

#hero .button {
    background-color: #fff;
    color: #698269;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 4px;
    text-decoration: none;
}

#hero .button:hover {
    background-color: #B99B6B;
    color: #fff;
}


#signup {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 64px;
}

#signup h2 {
    margin-bottom: 16px;
    color: #698269;
}

#signup input {
    padding: 12px;
    border-radius: 4px;
    border: none;
    width: 240px;
    font-size: 18px;
    margin-right: 8px;
    color: #333;
    background-color: #fff;
}

#signup button {
    background-color: #AA5656;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 4px;
}

#signup button:hover {
    background-color: #B99B6B;
}


#login {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 64px;
}

#login h2 {
    margin-bottom: 16px;
    color: #AA5656;
}

#login input {
    padding: 12px;
    border-radius: 4px;
    border: none;
    width: 240px;
    font-size: 18px;
    margin-right: 8px;
    color: #333;
    background-color: #fff;
}

#login button {
    background-color: #AA5656;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 4px;
}

#login button:hover {
    background-color: #B99B6B;
}

#column {
    display: flex;
    flex-direction: column;
}
#row{
    display: flex;
    flex-direction: row;
}


.profile_container {
    width:100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 10px;
    font-size: 12px;
}

.profile_container table{
    margin: 10px;
    text-align: left;
    width: 100%;
}

tr{
    text-align: left;
    width: 33%;
}

.tips_container {
    /* width: 50%; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 12px;
    text-align: left;
}